/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

object {
  height: 600px;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.resume_nav {
  padding-top: 3.5rem;
}

.email {
  border-radius: 15px;
}

.chatbot_gif {
  border-radius: 25px;
}

.project_container {
  padding-bottom: 1rem;
}
